<html>
<head>
<style>
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script language="javascript" type="text/javascript">

    var map;
    var geocoder;
    function InitializeMap() {

        var latlng = new google.maps.LatLng({{ DATA.lat }}, {{ DATA.lng }});
        var myOptions =
        {
            zoom: 18,
            center: latlng,
            mapTypeId: 'satellite',
            disableDefaultUI: true
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);

        map.setTilt(45);
    }


    window.onload = InitializeMap;

</script>
</head>
