<!DOCTYPE HTML>
<html>
<head>
<style>
</style>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  backgroundColor: "transparent",
  title:{
    text: "SFPD Priority by Frequency",
    fontSize: 30,
    horizontalAlign: "center"
  },
  data: [{
    type: "doughnut",
    startAngle: 60,
    //innerRadius: 60,
    indexLabelFontSize: 17,
    indexLabel: "{label} - #percent%",
    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    dataPoints: [
    { y: 2925, label: "Non-Emergency Calls" },
    { y: 7074, label: "Emergency Calls" },
    ]
  }]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
