<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px;}
    /* Set gray background color and 100% height */
    .sidenav {
    	right: 5px;
    	top: 35px;
      height: 400px;
      width: 420px;
    }
    body {background-color: #b5b6b7}

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>




</head>
<body>
{% include 'map2.html' %}

<div class="container-fluid">

  <div class="row content">

    <div class="col-sm-3 sidenav hidden-xs">


		Testing


    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
      <center>
        <h2>testing</h2>
        <h3>{{ DATA.lng }}, {{ DATA.lat }}</h3>
        </center>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Nearest Hospital</b></p>
            <h3><b>{{ "%.2f"|format(DATA.nearestHospital.Distance) }} Miles</b></h3>
            <p>{{ DATA.nearestHospital.Address }}</p>
            </center>
          </div>
        </div>

<div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Nearest Fire Station</b></p>
            <h3><b>{{ "%.2f"|format(DATA.nearestFireDepartment.Distance) }} Miles</b></h3>
            <p>{{ DATA.nearestFireDepartment.Address }}</p>
            </center>
          </div>
        </div>


        <div class="col-sm-3">
        <div class="well">
          <center>
            <p><b>Nearby Instances</b></p>
            <h3><b>{{ DATA.nearby }}</b></h3>
            <p>{{ "%.2f"|format(DATA.frequency) }} calls per day</p>
          </div>
          </center>
        </div>
        <div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Store Hours</b></p>
            <h3><b>testing</b></h3>
          </div>
          </center>
        </div>


<div class="row">




        <div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Electronics</b></p>
            <h3><b>testing</b></h3>
          </div>
          </center>
        </div>

           <div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Cell Phones</b></p>
            <h3><b>testing</b></h3>
            </center>
          </div>
        </div>

           <div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Video Games</b></p>
            <h3><b>testing</b></h3>
            </center>
          </div>
        </div>

           <div class="col-sm-3">
          <div class="well">
          <center>
            <p><b>Home Essentials</b></p>
            <h3><b>testing</b></h3>
            </center>
          </div>
        </div>






          </div>
        </div>





          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>

