<style>
                .col-md-6 {
                        width: 100% !important;
                    }
                #custom-search-input{
                    padding: 3px;
                    border: solid 1px #E4E4E4;
                    border-radius: 6px;
                    background-color: #fff;
                }

                #custom-search-input input{
                    border: 0;
                    box-shadow: none;
                }

                #custom-search-input button{
                    margin: 2px 0 0 0;
                    background: none;
                    box-shadow: none;
                    border: 0;
                    color: #666666;
                    padding: 0 8px 0 10px;
                    border-left: solid 1px #ccc;
                }

                #custom-search-input button:hover{
                    border: 0;
                    box-shadow: none;
                    border-left: solid 1px #ccc;
                }

                #custom-search-input .glyphicon-search{
                    font-size: 23px;
                }


</style>

<div class="col-md-6">
  <br><br>
  <div id="custom-search-input">
      <div class="input-group col-md-12" id="locationField">
      <datalist id="browsers">
        </option></datalist>
          <input type="text" id="autocomplete" list="browsers" name="yourname" class="form-control input-lg flipthis-highlight" placeholder="Address" onFocus="geolocate()">
          <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="submit" value="Submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
      </div>
  </div>

</div>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;
var componentForm = {
street_number: 'short_name',
route: 'long_name',
locality: 'long_name',
administrative_area_level_1: 'short_name',
country: 'long_name',
postal_code: 'short_name'
};

function initAutocomplete() {
// Create the autocomplete object, restricting the search to geographical
// location types.
autocomplete = new google.maps.places.Autocomplete(
  /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
  {types: ['geocode']});

// When the user selects an address from the dropdown, populate the address
// fields in the form.
autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
// Get the place details from the autocomplete object.
var place = autocomplete.getPlace();

for (var component in componentForm) {
document.getElementById(component).value = '';
document.getElementById(component).disabled = false;
}

// Get each component of the address from the place details
// and fill the corresponding field on the form.
for (var i = 0; i < place.address_components.length; i++) {
var addressType = place.address_components[i].types[0];
if (componentForm[addressType]) {
  var val = place.address_components[i][componentForm[addressType]];
  document.getElementById(addressType).value = val;
}
}
}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChcmCaga6Qc3x3mIUuJf7MZIw-SrHaDx4&libraries=places&callback=initAutocomplete" async defer></script>
