<style>
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 15px !important;
}
.col-md-6 {
        width: 100% !important;
    }

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 15px !important;
    background-color: #d1d1d1 !important;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

</style>
<div class="row">
<div class="col-md-6">
  <br><br>
  <div id="custom-search-input">
      <div class="input-group col-md-12" id="locationField">
          <input type="text" id="autocomplete" name="address" class="form-control input-lg flipthis-highlight" placeholder="Address">
          <span class="input-group-btn">
              <button class="btn btn-info btn-lg" onclick="moveToAddress();">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
          </div>
      </div>
  </div>

</div>

<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;

function initAutocomplete() {
// Create the autocomplete object, restricting the search to geographical
// location types.
autocomplete = new google.maps.places.Autocomplete(
  /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
  {types: ['geocode']});

// When the user selects an address from the dropdown, populate the address
// fields in the form.
autocomplete.addListener('place_changed', moveToAddress);
}

function moveToAddress() {
  // var address = document.getElementById('autocomplete').value;
  // console.log(address);
  // Converting string to json so we can interact with it
  var place = autocomplete.getPlace();
  console.log(place.geometry.location.toJSON());

}






</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChcmCaga6Qc3x3mIUuJf7MZIw-SrHaDx4&libraries=places&callback=initAutocomplete" async defer></script>
